.button {
	background-color: $red !important;
	border-radius: 0.75em;
	@include font-size-vw(32, $mobile-size);
	border: 0 none;
	padding: 0.7em 1.5em;
	margin: 0;
	color: #FFF !important;
	text-align: center;
	cursor: pointer;
	transition: box-shadow 0.25s !important;
	display: inline-block;
	font-family: "AvenirNextLTPro-Regular", Arial, sans-serif;

	.icon {
		margin-left: 0.5em;
		color: #3B5998;
		vertical-align: middle;
	}

	&:hover {
		box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5) !important;
	}

	@media screen and(min-width: $tablet-size + px) {
		font-size: 28px;
		padding: 10px 12px;

		&.view--more {
			font-size: 18px;
		}
	}
}
