@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
		 url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		 url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/ProximaNova-Light.otf')  format('opentype'),
		 url('../fonts/ProximaNova-Light.woff') format('woff'),
		 url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
}
