/**
 * Convert pixels to percent
 * @param  {int} $childWidth  Child width in pixels
 * @param  {int} $parentWidth Parent width in pixels
 */
@function pxToPercent($childWidth, $parentWidth) {
	@return $childWidth * 100 / $parentWidth + %;
}
/**
 * Convert pixels to view width
 * @param  {int} $childWidth  Child width in pixels
 * @param  {int} $parentWidth Parent width in pixels
 */
@function pxToVw($childWidth, $viewWidth) {
	@return $childWidth * 100 / $viewWidth + vw;
}

/**
 * Convert pixels to em
 * @param  {int} $px  pixels
 * @param  {int} $fontPx parent font size in px
 */
@function pxToEm($px, $fontPx) {
	@return $px / $fontPx + em;
}

/**
 * Convert pixels to em
 * @param  {int} $px  pixels
 * @param  {int} $fontPx parent font size in px
 */
@function pxToRem($px, $fontPx) {
	@return $px / $fontPx + rem;
}
