html, body {
	font-family: "ProximaNova-Regular", Arial, sans-serif;
	color: $grey;
	@include font-size-vw(28, $mobile-design);

	@media screen and (min-width: $pc-size + px) {
		font-size: 28px;
	}
}


div, main, section, header, footer, nav {
	box-sizing: border-box;
}

#page {
	width: 100%;
	min-width: 320px;
	overflow: hidden;
	position: relative;
	background-color: #717174;
  
  & #solution,#case-study ,#why-vmware, #next-steps {
      
        max-width: 1280px;
        margin: 0 auto;
        background-color: #FFF;
    }
	@media screen and (min-width: 320px) and (orientation: landscape) {
	}

	@media screen and (min-width: $pc-size + px) {
	  
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: $grey;
}

p, small {
	line-height: 1.15em;
	margin: pxToPercent(20, $mobile-size) 0;
	
	@media screen and (min-width: 768px) {
   
    @include font-size-vw(19, $tablet-design);
  }
	@media screen and (min-width: 992px) {
		margin: 20px 0;
		font-size: 18px;
		line-height: 1.5em;
	}
}

small {
	@include font-size-vw(26, $mobile-design);
	display: block;

	@media screen and(min-width: 1024px) {
		font-size: 14px;
	}
}

b {
	font-family: "ProximaNova-Semibold";
}

h1, h2, h3 {
	line-height: 1.0952380952381em;
	margin: pxToPercent(40, $mobile-size) 0;
	text-align: left;
	font-family: "ProximaNova-Semibold";
	@include font-size-vw(36, $mobile-size);
  text-transform: uppercase;
	@media screen and(min-width: 992px) {
		margin: 20px 0;
	}
}

h1 {
	@include font-size-vw(42, $mobile-size);
	@media screen and (min-width: 992px) {
		font-size: pxToRem(35, $pc-font);
	}

}

h2 {
	@include font-size-vw(36, $mobile-size);
  
  @media screen and (min-width: 768px) {
    font-size: pxToRem(18, $pc-font);
  }
	@media screen and (min-width: 992px) {
		font-size: pxToRem(18, $pc-font);
	}
	
}

h3 {
  @include font-size-vw(28,$mobile-size);
  @media screen and (min-width: 768px) {
    font-size: pxToRem(18, $pc-font);
  }
  @media screen and (min-width: 992px) {
    font-size: pxToRem(18, $pc-font);
  }
}
hr {
	display: block;
	width: 60 * 100 / $mobile-size + vw;
	height: 1px;
	background-color: #FFF;
	margin: pxToPercent(25, $mobile-size) 0 pxToPercent(35, $mobile-size);
	border: 0 none;

	@media screen and(min-width: $pc-size + px) {
		width: 40px;
		margin: 20px auto;
	}
}

section {
	padding-top: pxToVw(58, $mobile-design);
	padding-bottom: pxToVw(35, $mobile-design);

	@media screen and (min-width: 992px) {
		padding-top: pxToVw(35, $mobile-design);
	}
}

svg {
	display: block;
}


.svg_symbol {
	display: none;
}

.container-fluid {
	padding: 0 pxToVw(30, $mobile-design);
	max-width: 990px;
	box-sizing: content-box;

	.row {
		margin-right: pxToVw(-30, $mobile-design);
		margin-left: pxToVw(-30, $mobile-design);
	}

	@media screen and(min-width: 992px) {
		.row {
			margin-right: -15px;
			margin-left: -15px;
		}
		
		h2 {
          font-size:21px;
        }
	}
}

.no-break {
	white-space: nowrap;
	word-break: keep-all;
}

/*VMWare IT automation tweaks*/

header,.case-study, .why-vmware {
  border-bottom: 1px #d5d5d5 solid;
  max-width: 1280px;
  margin: 0 auto;
}
.navbar-brand > img {
  width: 130px;
}
.content h2, .content p, .content h3 {
  text-align: center;
}
section.delivering.alt {
  background-color: #0095d3;
  color:#FFFFFF;
  
}
.highlight {
  text-align: center;
  margin-top: 42px;
} 
.img-highlight {
  display:inline-block;
  height: 106px;
  & img {
      width: 89px;
  }  
}
.highlight-detail {
    position: relative;
    top: 18px;
}


section.delivering.alt,.case-study{
  max-width:1280px;
  margin: 0 auto;
}

.case-study > section {
  @media screen and (min-width: 768px){
    padding-left: 70px;
    padding-right: 70px;
    &:first-child {
      line-height: normal;
      padding-right: 20px;
      max-height: 490px;
    }
  }
    
    @media screen and (min-width: 992px){
      h2 {
          font-size:21px;
        }
    }
}

.testimonial{
    background: -webkit-linear-gradient(-30deg, rgba(0, 0, 0, 0.5), rgba(109, 179, 63, 1) 100%), url("../images/testimonial-img.png");
    background: -moz-linear-gradient(-30deg, rgba(0, 0, 0, 0.5), rgba(109, 179, 63, 1) 100%), url("../images/testimonial-img.png");
    background: linear-gradient(-30deg, rgba(0, 0, 0, 0.5), rgba(109, 179, 63, 1) 100%), url("../images/testimonial-img.png");
    background-size: cover;
    padding: 70px 15px;
    
    @media screen and(min-width: 992px) {
       padding-top: 92px;
       height:490px;
    }
}
.testimonial p, .testimonial span {
  color: #fff;
}

.testimonial p {
    font-size: 21px;
    font-style: italic;
    text-align: center;
}
.testimonial span {
    font-size: 16px;
    text-align: center;
    display: block;
}

section.why-vmware {
  @media screen and (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
  }
    
}

footer {
  
  @media screen and (min-width: 768px){
   .next-steps{
  
      background: url("../images/bottom-pic.png") top right no-repeat;
      max-width: 1280px;
      margin: 0 auto;
      padding-left: 70px;
      padding-right: 70px;
      background-color:#FFF;
    } 
  }  
}
footer section {
  padding-bottom: pxToVw(1, $mobile-design);
} 

.social a img:hover {
      background-color: #0095d3;
      border-radius: 50px;
  }
  
#navbar {
  @media screen and (min-width: 768px) {
    float: right;  
  }
  
}  

