.wrapper {
	max-width: $max-width + px;
	padding: 0 pxToPercent(30, $mobile-size);
	margin: 0 auto;

	@media screen and(min-width: $tablet-size + px) {
		padding: 0 40px;
	}
}

.grid {

	//position: relative;

	.row {
		box-sizing: border-box;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: flex-start;

		.column {
			flex: 1 1 0;
			padding: 0;
			min-width: 100%;
			max-width: 100%;
		}
	}

	@media screen and(min-width: $tablet-size + px) {
		.row{
			flex-flow: row wrap;

			.column {
				flex: ($grid-columns / 2) 1 (100 / ($grid-columns / 2) + %);
				padding: 0 1%;
				min-width: 0;
				max-width: auto;

				@for $i from 1 through $grid-columns {
					&.span--#{$i} {
						max-width: (100 / $grid-columns * $i) + %;
					}
				}

				&.align--left {
					margin-right: auto;
				}

				&.align--right {
					margin-left: auto;
				}
			}
		}
	}

	@media screen and(min-width: $pc-size + px) {
		.row{
			.column {
				flex: $grid-columns 1 (100 / $grid-columns + %);
			}
		}
	}
}
