/**
 * Mixin to convert font pixels to view-width
 * @param  {int} $fontSize  Font size in pixels
 * @param  {int} $viewWidth View width in pixels
 */
@mixin font-size-vw($fontSize, $viewWidth) {
	font-size: $fontSize * 100 / $viewWidth + vw;
}

/**
 * Mixin to insert placeholder styling
 */
@mixin place-holder {
	&::-webkit-input-placeholder {
	   @content;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   @content;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   @content;  
	}

	&:-ms-input-placeholder {  
	   @content;  
	}
}