.slider {
		overflow: hidden;

	.grid {
		transition: transform 0.5s cubic-bezier(0.4, 0, 0.4, 1);
		.row {
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: center;

			.column {
				flex: 0 0 auto;
				width: 100%;
			}
		}
	}

	.controls--container {
		display: flex;
		justify-content: center;
		align-content: flex-start;
		align-items: flex-start;
		margin: pxToPercent(35, 580);

		li {
			flex: 0 0 auto;
			width: 24 * 100 / $mobile-size + vw;
			height: 0;
			padding-bottom: 24 * 100 / $mobile-size + vw;
			border: 1px solid #6C6C6C;
			margin: 0 2%;
			text-indent: -200vw;
			border-radius: 24 * 100 / $mobile-size + vw;
			transition: background-color 0.5s cubic-bezier(0.4, 0, 0.4, 1);
			cursor: pointer;

			&.current {
				background-color: #6C6C6C;
			}
		}
	}
}