// Grids and sizes
$grid-columns:	6;
$max-width:		810;

// Colors
$main-color:	#000000;
$orange:		#F3912B;
$cyan:			#09A7DD;
$red:			#FF0000;
$light-red:		#D8222C;
$dark-grey:		#666262;
$grey:			#565656;
$dark-gray:		#373737;
$light-grey:	#E3E6EC;
$error:			#FF0000;

// Fonts
$fonts-src:		"fonts/";

// Break Points
$mobile-size:	640;
$tablet-size:	768;
$pc-size:		1024;

// Break Points
$mobile-design:	640;
$tablet-design:	1024;
$pc-design:		1280;

//Font sizes
$pc-font: 28;
