#choose {
	.moving-forward {
		.features {
			padding-top: pxToVw(350, $mobile-design);
			background: url("../images/cmp-mobile.jpg") no-repeat center top / contain;
			margin: 0 pxToVw(-30, $mobile-design);

			ul {
				background-color: #85CCDD;
				padding: 0 pxToVw(30, $mobile-design);
				margin: 0 pxToVw(30, $mobile-design);

				li {
					color: #FFF;
					@include font-size-vw(28, $mobile-design);
					padding: pxToVw(55, $mobile-design) 0;
					border-bottom: pxToVw(2, $mobile-design) solid #9ED7E4;

					&:last-child {
						border-bottom: 0 none;
					}
				}
			}
		}

		.blue-box {
			background-color: #0095D3;
			color: #FFF;
			padding-top: pxToVw(25, $mobile-design);
			padding-bottom: pxToVw(40, $mobile-design);

			img {
				width: pxToVw(417, $mobile-design);
			}

			.watch {
				position: relative;
				margin-top: pxToVw(40, $mobile-design);
				text-align: center;
				padding-bottom: pxToVw(15, $mobile-design);

				&:after {
					content: " ";
					display: block;
					width: pxToVw(37, $mobile-design);
					height: pxToVw(37, $mobile-design);
					background: url("../images/arrow.svg") no-repeat center / cover;
					left: 0;
					right: 0;
					top: 100%;
					margin: 0 auto;
					position: absolute;
				}
			}
		}

		.video {
			width: 100%;
			padding-bottom: 315 * 100 / 560 + %;
			position: relative;
			margin-top: pxToVw(25, $mobile-design);

			iframe {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
			}
		}
	}

	.best-choice {
		blockquote {
			width: pxToVw(479, $mobile-design);
			padding: pxToVw(65, $mobile-design) pxToVw(40, $mobile-design);
			border: 1px solid #E1E1E1;
			margin: pxToVw(35, $mobile-design) auto;
		}

		img {
			width: pxToVw(479, $mobile-design);
			margin: 0 auto;
		}
	}

	@media screen and(min-width: 992px) {
		.moving-forward {
			.features {
				padding-top: 258px;
				background-image: url("../images/cmp-desktop.jpg");
				margin: 0 auto;

				ul {
					padding: 20px 30px;
					margin: 0 80px;
					display: flex;
					align-items: stretch;

					li {
						font-size: 16px;
						padding: 0 5%;
						border-bottom: 0 none;
						border-right: 1px solid #9ED7E4;
						text-align: center;
						width: (100 - 30) / 2 + %;

						&:last-child {
							padding: 0 3%;
							border-right: 0 none;
						}

						&:nth-child(2){
							width: 30%;
						}
					}
				}
			}
			
			.row {
				margin: 0 auto;

				.blue-box {
					background-color: #0095D3;
					color: #FFF;
					padding: 15px 30px 15px 20px;
					font-size: 16px;

					p {
						line-height: 1.5em;
						max-width: 350px;
					}

					img {
						width: 191px;
					}

					.watch {
						margin-top: 35px;
						text-align: right;
						padding-bottom: 0;

						&:after {
							content: "\0203A";
							font-size: 40px;
							display: inline-block;
							left:auto;
							right: auto;
							top: auto;
							background: none;
							width: auto;
							height: auto;
							margin-left: 10px;
							line-height: 0.6em;
						}
					}
				}
	
				.col-md-7 {
					padding: 0;
					.video {
						margin-top: 0;
					}
				}
			}
		}

		.best-choice {
			.col-md-6:first-child {
				padding-right: pxToPercent(110, 990);
			}

			blockquote {
				width: 100%;
				max-width: 318px;
				padding: 40px 30px;
				margin: 20px 0;
				font-size: 18px;
			}

			img {
				width: 100%;
				max-width: 460px;
				margin: 20px auto;
			}
		}
	}
}
