#cloud-management {
	.unified-management {
		img {
			margin: pxToVw(50, $mobile-design) auto;
		}
		.blue-box {
			background-color: #063E75;
			color: #FFF;

			p {
				margin: pxToVw(50, $mobile-design) auto;
			}
		}

	}
	.needs {
		.mobile {
			display: block;
		}

		.pc {
			display: none;
		}
	}

	.enterprise-ready {
		.box {
			text-align: center;
			height: pxToVw(382, $mobile-design);

			h2 {
				margin: 0 auto pxToVw(15, $mobile-design);
				@include font-size-vw(28, $mobile-design);
				text-align: center;
			}

			svg {
				margin: pxToVw(40, $mobile-design) auto pxToVw(20, $mobile-design);
				width: pxToVw(140, $mobile-design);
				height: pxToVw(140, $mobile-design);

				use {
					fill: #565656;
				}
			}

			p {
				@include font-size-vw(28, $mobile-design);
				margin: 0 auto pxToVw(15, $mobile-design);
			}

			&.green {
				background-color: #A7DA4D;
				color: #FFF;

				svg use {
					fill: #FFF;
				}
			}

			&.blue {
				background-color: #0095D3;
				color: #FFF;

				svg use {
					fill: #FFF;
				}
			}

			&.image {
				background: url("../images/enterprise.jpg") no-repeat center / cover;
			}
		}
	}

	@media screen and(min-width: 992px) {
		.unified-management {
			img {
				max-width: 375px;
				margin: 0 auto;
			}

			.blue-box {
				position: relative;
				p {
					margin: 20px auto;
				}

				&:before {
					content: " ";
					position: absolute;
					display: block;
					width: 33px;
					height: 0;
					background-clip: content-box;
					background-color: #063E75;
					border-top: 33px solid #063E75;
					border-right: 33px solid transparent;
					left: -15px;
					top: 30px;
					transform: rotate(45deg*7);
				}
			}

		}

		.needs {
			.mobile {
				display: none;
			}

			.pc {
				display: block;
			}
		}

		.enterprise-ready {

			.row {
				display: flex;
				align-items: stretch;

				[class*="col-"]{
					
				}

				.box {
					height: auto;

					h2 {
						margin: 0 auto 20px;
						font-size: 20px;
					}

					p {
						font-size: 18px;
					}

					svg {
						margin: 30px auto;
						width: 90px;
						height: 90px;
					}
				}
			}
		}
	}
}
