footer {
	.prefooter {
		padding: 0 pxToVw(30, $mobile-design);

		h2 {
			@include font-size-vw(36, $mobile-design);
		}

		a {
			display: block;
			padding: pxToVw(20, $mobile-design) pxToVw(55, $mobile-design);
			background-color: #62A339;
			color: #FFF;
			text-align: center;

			&:hover {
				color: #FFF;
				text-decoration: none;
			}
		}

		img {
			width: pxToVw(217, $mobile-design);
			margin: pxToVw(80, $mobile-design) 0 pxToVw(34, $mobile-design);
		}
	}
	.footer {
		background-color: #565656;
		border-bottom: pxToVw(15, $mobile-design) solid #434343;
		color: #FFF;
		padding: pxToVw(30, $mobile-design) pxToVw(30, $mobile-design) pxToVw(40, $mobile-design);

		.copy-rights {
			@include font-size-vw(24, $mobile-design);
			float: left;
			padding-top: pxToVw(90, $mobile-design);
			margin-left: 10px;
		}

		.social {
			@include font-size-vw(26, $mobile-design);
			font-family: "ProximaNova-Semibold";
			width: pxToVw(250, $mobile-design);
			float: right;
			margin-right: 10px;

			ul {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: space-between;
				
				li {
				  padding: 0 5px;
				} 
			}
		}

		.go-home {
			clear: both;
			text-align: right;
			@include font-size-vw(30, $mobile-design);
			text-decoration: none;
			padding-top: pxToVw(40, $mobile-design);
			margin-right: 20px;


			.home {
				color: #FFF;
				&:hover {
					text-decoration: none;
				}
				&:after {
					content: " \0203A";
					transform: rotate(-90deg);
					display: inline-block;
					margin-left: pxToVw(10, $mobile-design);
					@include font-size-vw(40, $mobile-design);
				}
			}
		}
	}

	@media screen and(min-width: $tablet-size + px) {
		

		.prefooter {
			display: flex;
			flex-flow: row nowrap;
			padding: 0;
			margin-bottom: 35px;

			.logo {
				//order: 0;
				width: pxToPercent(390, 990);
			}

			.link {
				//order: 1;
				//text-align: right;
				width: 100%;
			}

			h2 {
				font-size: 22px;
				//text-align: right
			}

			a {
				font-size: 21px;
				padding: 14px 18px;
				display: inline-block;
			}

			img {
				width: 100%;
				max-width: 215px;
				margin: 80px 0 0;
			}
		}
		.footer {
			border-bottom: 12px solid #434343;
			padding: 20px 40px 40px;
			max-width:1280px;
			box-sizing: border-box;

			.copy-rights {
				font-size: 18px;
				padding-top: 0;
			}

			.social {
				font-size: 18px;
				font-family: "ProximaNova-Semibold";
				width: 385px;
				text-align: right;
				line-height: 10px;
				margin-top: 10px;

				p {
					float: left;
					margin: 10px 0 0;
				}

				ul {
					float: right;
					width: 180px;
					margin-left: 40px;

					img {
						width: 46px;
					}
				}
			}

			.go-home {
				font-size: 20px;
				padding-top: 20px;

				.home {
					&:after {
						margin-left: 10px;
						font-size: 30px;
					}
				}
			}
		}
	}
}
