header {
	.container-fluid {
		background: url("../images/hero-bg-mobile.png") center center no-repeat #FFF;
		background-size: cover;
		padding: 0;
		max-width: 1280px;

		.intro {
			padding: pxToPercent(140, $mobile-design) pxToPercent(30, $mobile-design) pxToPercent(50, $mobile-design);
			color: #FFF;
			width: pxToPercent(640, $mobile-design);

			h1 {
				@include font-size-vw(42, $mobile-design);
				margin-top: 0;
			}

			p {
				margin-bottom: 0;
				font-family: "ProximaNova-Regular";
				@include font-size-vw(28, $mobile-design);
				
			}
		}
	}

	@media screen and (min-width: $tablet-size + px) {
		.container-fluid {
			background: url("../images/hero-bg-tablet.png") center center no-repeat #FFF;
			background-size: cover;
			

			.intro {
				padding: pxToPercent(120, 1280) pxToPercent(80, 1280) pxToPercent(50, 1280) pxToPercent(50, 1280);
				color: #565656;
				float: left;
				width: 377px;

				& > * {
					max-width: 640px;
				}

				h1 {
				  font-size: 28px;
					//@include font-size-vw(26, $tablet-design);
					margin-top: 0;
				}
				h2 {
				  font-size:21px;
				  //@include font-size-vw(22, $tablet-design);
				}

				p {
					margin-bottom: 0;
					font-size:18px;
					//@include font-size-vw(19, $tablet-design);
				}
			}
		}
	}
	@media screen and (min-width: 992px){
	  .container-fluid {
	    background: url("../images/hero-bg-desktop.png") center center no-repeat #FFF;
  	    .intro {
        width: 640px;
      }
	  }
	  
	}

  
	@media screen and (min-width: $pc-size + px) {
		.container-fluid {
		    background: url("../images/hero-bg-desktop.png") center center no-repeat #FFF;
		    max-width:1280px;
        background-size:cover;
      } 
			.intro {
				padding: pxToPercent(120, 1280) pxToPercent(80, 1280) pxToPercent(56, 1280) pxToPercent(56, 1280);
        float:left;
        
				& > * {
					max-width: 570px;
				
				}

				
			}
		}
}
