#it-delivering {
	.delivering {
		.mobile {
			display: block;
		}

		.pc {
			display: none;
		}

		.tab, .tab:focus {
			display: block;
			text-align: center;
			text-decoration: none;
			max-width: 90%;
			margin: 0 auto;
			color: inherit;

			& * {
				pointer-events: none;
			}

			.icon {
				width: pxToVw(144, $mobile-design);
				height: pxToVw(144, $mobile-design);
				border-radius: 5em;
				border: pxToVw(2, $mobile-design) solid #D7D7D7;
				padding: pxToVw(40, $mobile-design);
				margin: 0 auto;
				display: block;
				transition: border-color 0.25s;

				.svg-container {
					position:relative;
					width: 100%;
					padding-bottom:100%;
					height: 0;
					display: block;
				}


				svg {
					width: 100%;
					height: 100%;
					fill: #D7D7D7;
					transition: fill 0.25s;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.title {
				transition: color 0.25s;
				display: block;
				padding-top: pxToVw(64, $mobile-design);
				@include font-size-vw(30, $mobile-design);
			}

			&:hover, &.active {
				.icon {
					border-color: #A7DA4D;

					svg {
						fill: #A7DA4D;
					}
				}

				.title {
					color: #A7DA4D;
				}
			}
		}

		.tabs-info {
			height: pxToVw(160, $mobile-design);
			position: relative;
			overflow: hidden;
			box-sizing: content-box;
			padding: 0;

			.info {
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				border-radius: 2vw;
				background-color: #A7DA4D;
				padding: pxToVw(20, $mobile-design);
				margin: pxToVw(30, $mobile-design) auto;
				color: #FFF;
				transition: transform 0.5s;

				&:before {
					content: " ";
					position: absolute;
					width: pxToVw(45, $mobile-design);
					height: 0;
					background-clip: content-box;
					background-color: #A7DA4D;
					border-top: pxToVw(45, $mobile-design) solid #A7DA4D;
					border-right: pxToVw(45, $mobile-design) solid transparent;
				}

				&#info-lock {
					transform: translateY(-10rem);

					&.show, &.hover {
						transform: translateY(0rem);
					}

					&:before {
						transform: rotate(45deg);
						left: pxToVw(110, $mobile-design);
						top: pxToVw(-20, $mobile-design);
					}
				}

				&#info-check {
					transform: translateY(-10rem);

					&.show, &.hover {
						transform: translateY(0rem);
					}

					&:before {
						transform: rotate(45deg);
						right: pxToVw(150, $mobile-design);
						top: pxToVw(-20, $mobile-design);
					}
				}

				&#info-search {
					transform: translateY(10rem);

					&.show, &.hover {
						transform: translateY(0rem);
					}

					&:before {
						transform: rotate(225deg);
						left: pxToVw(110, $mobile-design);
						bottom: pxToVw(-20, $mobile-design);
					}
				}

				&#info-pig {
					transform: translateY(10rem);

					&.show, &.hover {
						transform: translateY(0rem);
					}

					&:before {
						transform: rotate(225deg);
						right: pxToVw(120, $mobile-design);
						bottom: pxToVw(-20, $mobile-design);
					}
				}
			}
		}
	}

	.provisioning {
		.blue-background {
			background-color: #0095D3;
			color: #FFF;
			padding: pxToVw(75, $mobile-design) 0;

			.container-fluid {
				text-align: center;

				.row {
					img {
						max-width: pxToVw(302, $mobile-design);
						margin: pxToVw(50, $mobile-design) auto;
					}
					
					p {
						max-width: pxToVw(455, $mobile-design);
						margin-left: auto;
						margin-right: auto;
						text-align: center;
					}
				}
			}
		}

		.green-box {
			padding: pxToVw(35, $mobile-design) pxToVw(40, $mobile-design);
			background-color: #A7DA4D;
			color: #FFF;

			div {
				p:first-child {
					@include font-size-vw(75, $mobile-design);
				}
			}
		}
	}

	@media screen and(min-width: 992px) {
		.delivering {
			$container-width: 687;
			.mobile {
				display: none;
			}

			.pc {
				display: block;
			}

			.tabs {
				max-width: $container-width + px;
				padding: 0;
				margin-top: 50px;

				.row {
					margin: 0;
				}
			}

			.tab, .tab:focus {
				max-width: 90%;
				padding: 0;

				.icon {
					width: pxToVw(87, $tablet-design);
					max-width: 87px;
					height: pxToVw(87, $tablet-design);
					max-height: 87px;
					border: pxToVw(2, $tablet-design) solid #D7D7D7;
					padding: pxToPercent(20, 134);
				}

				.title {
					padding-top: pxToPercent(35, 134);
					font-size: 18px;
				}
			}

			.tabs-info {
				height: 130px;
				width: 100%;
				position: relative;
				overflow: hidden;
				box-sizing: content-box;
				padding: 0;

				.info {
					border-radius: 10px;
					padding: 30px 25px;
					margin: 48px auto 0;
					width: 100%;
					font-size: 18px;
					transform: translateY(-130px) !important;
					text-align: center;

					&:before {
						width: 33px;
						border-top: 33px solid #A7DA4D;
						border-right: 33px solid transparent;
						transform: rotate(45deg) !important;
						top: -15px !important;
						bottom: auto;
					}

					&.show, &.hover {
						transform: translateY(0) !important;
					}

					&#info-lock {
						&:before {
							left: pxToPercent(68, $container-width);
						}
					}

					&#info-check {
						&:before {
							left: pxToPercent(244, $container-width);
							right: auto;
						}
					}

					&#info-search {
						&:before {
							left: pxToPercent(418, $container-width);
						}
					}

					&#info-pig {
						&:before {
							left: pxToPercent(584, $container-width);
							right: auto;
						}
					}
				}
			}
		}
	}

	.provisioning {
		.blue-background {
			padding: 40px 0;
			margin: 0 auto;
			max-width: 990px;

			.container-fluid {
				text-align: center;
				max-width: 670px;
				padding: 0;

				& > p {
					line-height: 30px;
				}

				.row {
					img {
						max-width: 166px;
						margin: 0 auto 30px;
					}
					
					p {
						max-width: auto;
						line-height: 25px;
					}
				}
			}
		}

		.green-box {
			padding: 20px pxToPercent(80, 990) 20px pxToPercent(30, 990);

			div {
				display: flex;
				flex-flow: row nowrap;
				align-items: flex-start;
				align-content: flex-start;

				p:first-child {
					font-size: pxToRem(70, $pc-font);
					line-height: 1em;
					margin-right: pxToPercent(20, 595);
					flex: 0 0 auto;

				}
				p {
					margin: 0;
				}
			}
		}
	}
}
