nav.navbar {
	background-color: #464646;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	border: 0 none;

	.container-fluid {
		max-width: 1280px;

		#navbar {
			margin: 0 pxToVw(-30, $mobile-design);
			border: 0 none;
			box-shadow: 0 0 0;
			padding: 0;
		}

		.navbar-header {
			margin: 0 auto;
		}

		.navbar-brand{
			&.mobile {
				width: 130px;//pxToPercent(146, $mobile-design);
				padding-left:0;
				padding-right:0;
			}

			&.desktop {
				display: none;
			}
		}

		.navbar-toggle {
			border: 0 none;
			padding: 0;
			width: pxToVw(34, $mobile-design);
			height: pxToVw(34, $mobile-design);
			border-radius: 10rem;
			background-color: #FFF;
			transition: background-color 0.25s border-radius;
			position: relative;
			margin-bottom: pxToVw(20, $mobile-design);


			.icon-bar {
				width: pxToVw(35, $mobile-design);
				height: pxToVw(4, $mobile-design);
				margin: pxToVw(5, $mobile-design) auto;
				background-color: #464646;
				transition: transform 0.25s, opacity 0.25s, background-color 0.25s;

				&:nth-child(2){
					transform-origin: center;
					transform: translate(0, 0) rotate(45deg) scaleX(0.5);
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}

				&:nth-child(3){
					opacity: 0;
					display: none;
				}

				&:nth-child(4){
					transform-origin: center;
					transform: translate(0, 0) rotate(-45deg) scaleX(0.5);
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}

			&:after {
				content: "MENU";
				@include font-size-vw(16, $mobile-design);
				color: #FFF;
				display: block;
				margin: pxToVw(-2, $mobile-design) auto 0;
				position: absolute;
				top: 112%;
				left: -999px;
				right: -999px;
			}

			&:hover {
				background-color: #FFF;
			}
			
			&.collapsed {
				border-radius: 0;
				background-color: transparent;

				.icon-bar {
					background-color: #FFF;

					&:nth-child(2){
						transform-origin: center;
						transform: rotate(0) scaleX(1);
						position: static;
					}

					&:nth-child(3){
						opacity: 1;
						display: block;
					}

					&:nth-child(4){
						transform-origin: center;
						transform: rotate(0) scaleX(1);
						position: static;
					}
				}
				&:hover {
					background-color: transparent;
				}
			}
		}

		.navbar-nav {
			margin: 0 auto;

			& > li {
				flex: 1 1 auto;

				&.active a {
					// background-color: #0095D3;
					background-color: #0095d3;
					color:#FFF;
				}

				a, a:active {
					padding: 16px pxToPercent(30, $tablet-design);
					font-size: 18px;
					color: #FFF;
					background-color: #323232;
					transition: background-color 0.25s;
					text-align: center;

					&:hover {
						color: #FFF;
					}
				}
			}
		}
	}

	@media screen and(min-width: 768px) {
		.container-fluid {
			padding: 0 pxToPercent(54, $tablet-design);

			#navbar {
				display: flex !important;
				margin: 0 auto;
			}

			.navbar-brand {
				margin-left: auto;
				min-width: 140px;
				padding: 16px pxToPercent(30, $tablet-design);

				&.mobile {
					display: none;
				}

				&.desktop {
					display: block;
				}
			}

			.navbar-nav {
				display: flex;
				width: 100%;
				align-items: stretch;
				justify-content: center;
				align-content: center;


				& > li {
					flex: 1 1 auto;
					width: 130px;

					&.active a {
						background-color: #0094d2;
					}

					a {
						padding: 16px pxToPercent(30, $tablet-design);
						font-size: 18px;
						color: #FFF;
						background-color: transparent;
						transition: background-color 0.25s;
						text-align: center;

						&:hover {
							color: #FFF;
							background-color: #0095d3;
						}
					}
				}
			}
		}
	}
}
