#new-era {

	.icons {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		align-content: center;
		margin-bottom: pxToVw(12, $mobile-design);

		.icon {
			width: pxToVw(135, $mobile-design);
			height: pxToVw(136, $mobile-design);
			padding: pxToVw(25, $mobile-design);
			margin: 0 pxToVw(5, $mobile-design);

			&:nth-child(odd) {
				background-color: #85CCDD;
			}
			&:nth-child(even) {
				background-color: #A7DA4D;
			}
		}

		img {
			display: block;
			margin: 0 auto;
			height: 100%;
		}
	}

	@media screen and (min-width: 992px) {

		.row {
			margin: 0 -5px;

			.col-md-6 {
				padding: 0 5px;
			}
		}

		.icons {
			.icon {
				width: 108px;
				height: 108px;
				padding: 20px;
				margin: 0 5px;
			}
		}
	}
}
